<!-- Mega Footer start -->
<section class="mega-footer" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="main-title">
          <h2>Book Now</h2>
          <p>Entery your Detail and Book Room</p>
        </div>

        <div class="booknow-form">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Adults" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Kids" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Arrival" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Departure" />
                </div>
              </div>

              <div class="col-md-12">
                <input type="submit" class="btn-check" value="Check Availability" />
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-7 col-md-offset-1 col-sm-8">
        <div class="main-title">
          <h2>Contact Us</h2>
          <p>If any query please contact us</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="contactinfo-single">
              <h3 class="address">Address</h3>
              <p>Street no. 1, Nr. Popular Place,<br />
                Main road Name,<br />
                City Name  Here,<br />
                Pincode 360000</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contactinfo-single">
              <h3 class="email">Email</h3>
              <p>info@website.com<br />
                booking@website.com<br />
                offers@website.com<br />
                inquiry@website.com</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contactinfo-single">
              <h3 class="address">Booking Office</h3>
              <p>Street no. 1, Nr. Popular Place,<br />
                Main road Name,<br />
                Pincode 360000</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contactinfo-single">
              <h3 class="contact">Contact No.</h3>
              <p>+91 789 789 7897<br />
                +91 456 456 4564<br />
                +91 123 123 1231</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Mega Footer ends -->
<!-- Footer starts -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="siteinfo">
          <p>Copyright &copy; Untitled. All rights reserved. Design By <a href="https://awaikenthemes.com/" target="_blank">Awaiken Theme</a> Images <a href="https://unsplash.com/" target="_blank">Unsplash</a>, <a href="https://pixabay.com/" target="_blank">Pixabay</a>, <a href="http://www.freepik.com" target="_blank">Freepik</a>, Icon <a href="https://www.flaticon.com/" target="_blank">Flaticon</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer ends -->
