<body data-spy="scroll" data-target="#navigation" data-offset="70">
<!-- Preloader starts -->
<div class="preloader">
  <div class="browser-screen-loading-content">
    <div class="loading-dots dark-gray">
      <i></i>
      <i></i>
      <i></i>
      <i></i>
    </div>
    <p class="loading-text">Loading</p>
  </div>
</div>
<!-- Preloader Ends -->
<!-- Header Section Starts-->
<header>
  <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- Logo starts -->
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo.png" alt="Logo" />
        </a>
        <!-- Logo Ends -->

        <!-- Responsive Menu button starts -->
        <div class="navbar-toggle">
        </div>
        <!-- Responsive Menu button Ends -->
      </div>

      <div id="responsive-menu"></div>

      <!-- Navigation starts -->
      <div class="navbar-collapse collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right main-navigation" id="main-menu">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="/customer/list">Customer List</a></li>
          <li><a href="/customer/create">Create Customer</a></li>
          <li><a href="#rooms">Rooms</a></li>
          <li><a href="#photogallery">Photo Gallery</a></li>
          <li><a href="#contact">Contact us</a></li>
        </ul>
      </div>
      <!-- Navigation Ends -->
    </div>
  </nav>
</header>
</body>
<!-- Header Section Ends-->
