<!-- Banner Section Starts -->
<section class="banner" id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="offter-container">
          <div class="banner-offter-box">
            <h2>Booking Now & Get <span>50% off</span></h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            <a href="#" class="btn-custom">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section Ends -->

<!-- About section starts -->
<section class="aboutus" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="aboutus-image">
          <img src="assets/images/about.jpg" alt="" />
        </div>
      </div>

      <div class="col-md-7">
        <div class="aboutus-content">
          <div class="main-title">
            <h2>About The Grand Hotel</h2>
            <p>Short Tagline goes here</p>
          </div>

          <div class="aboutus-entry">
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>

            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>

            <div class="about-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About section ends -->

<!-- Services section starts -->
<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">
          <h2>Our services</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="service-single left-service">
          <div class="service-image">
            <figure>
              <img src="assets/images/service-1.jpg" alt="" />
            </figure>
          </div>

          <div class="service-content">
            <h3>Luxury Suites & Room</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service-single left-service">
          <div class="service-image">
            <figure>
              <img src="assets/images/service-2.jpg" alt="" />
            </figure>
          </div>

          <div class="service-content">
            <h3>Swiming pool</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service-single right-service">
          <div class="service-image">
            <figure>
              <img src="assets/images/service-3.jpg" alt="" />
            </figure>
          </div>

          <div class="service-content">
            <h3>Restaurants</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service-single right-service">
          <div class="service-image">
            <figure>
              <img src="assets/images/service-4.jpg" alt="" />
            </figure>
          </div>

          <div class="service-content">
            <h3>Best Facility</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section ends -->

<!-- Contact Bar Section starts -->
<div class="contact-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="contact-barinfo">
          <h3>Standardized Budget Rooms <span>24% off</span></h3>
          <p>Aenean euismod sem porta est consectetur posuere. Praesent nisi velit.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-bar-button">
          <a href="#" class="btn-booknow">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Bar Section ends -->

<!-- Room Section starts -->
<section class="rooms" id="rooms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">
          <h2>Rooms</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="room-single">
          <div class="room-image">
            <figure>
              <img src="assets/images/room-1.jpg" alt="" />
            </figure>
          </div>

          <div class="room-info">
            <h3>Normal Room</h3>
            <ul>
              <li>Tea/Coffee maker</li>
              <li>Air conditioning</li>
              <li>Flat-screen TV</li>
              <li>Wake-up service</li>
            </ul>
            <a href="#" class="btn-bookroom">Book Now</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="room-single">
          <div class="room-image">
            <figure>
              <img src="assets/images/room-2.jpg" alt="" />
            </figure>
          </div>

          <div class="room-info">
            <h3>Normal Room</h3>
            <ul>
              <li>Tea/Coffee maker</li>
              <li>Air conditioning</li>
              <li>Flat-screen TV</li>
              <li>Wake-up service</li>
            </ul>
            <a href="#" class="btn-bookroom">Book Now</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="room-single">
          <div class="room-image">
            <figure>
              <img src="assets/images/room-3.jpg" alt="" />
            </figure>
          </div>

          <div class="room-info">
            <h3>Normal Room</h3>
            <ul>
              <li>Tea/Coffee maker</li>
              <li>Air conditioning</li>
              <li>Flat-screen TV</li>
              <li>Wake-up service</li>
            </ul>
            <a href="#" class="btn-bookroom">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Room Section ends -->

<!-- Intro Video section start -->
<div class="intro-video">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="paly-button">
          <a href="http://www.youtube.com/watch?v=Q6dsRpVyyWs" class="popup-video">
            <i class="fa fa-play"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Intro Video section ends -->

<!-- Photo Gallery Section starts -->
<section class="photo-gallery" id="photogallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">
          <h2>Photo Gallery</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="gallery-box">
          <a href="assets/images/photo-1.jpg"><img src="assets/images/photo-1.jpg" alt="" /></a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="gallery-box">
          <a href="assets/images/photo-2.jpg"><img src="assets/images/photo-2.jpg" alt="" /></a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="gallery-box">
          <a href="assets/images/photo-3.jpg"><img src="assets/images/photo-3.jpg" alt="" /></a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="gallery-box">
          <a href="assets/images/photo-4.jpg"><img src="assets/images/photo-4.jpg" alt="" /></a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="gallery-box">
          <a href="assets/images/photo-5.jpg"><img src="assets/images/photo-5.jpg" alt="" /></a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="gallery-box">
          <a href="assets/images/photo-6.jpg"><img src="assets/images/photo-6.jpg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
